* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100%;
}

@media all and (max-width: 560px) {
  .cart-container {
    min-height: 70vh;
  }

  .hero-heading {
    font-size: 1.8em;
  }

  div .cart-item {
    width: fit-content;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .cart-bill {
    width: 100%;
  }

  .link-reload {
    font-size: 1.5em;
  }

  div .quantity {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-top: 1em;
  }

  .btn-quantity {
    margin: 0em 1em 0em 1em;
  }
}

@media all and (max-width: 410px) {
  .hero-heading {
    font-size: 1.7em;
  }
}
